/* Estilo para el contenedor principal del formulario */
.container-form {
  max-width: 400px;
  margin: 0 auto;

  padding: 20px;
  background-color: #f4f4f4;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  flex-direction: column;
}

/* Estilo para los elementos de formulario */
.container-form div {
  margin-bottom: 15px;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  align-items: center;
}

input[type="text"],
input[type="email"],
select,
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

select {
  /* height: 40px;  */
}

/* Estilo para los elementos de fecha */
input[type="date"] {
  width: 45%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 10px;
}

/* Estilo para el botón de envío */
input[type="submit"] {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  font-weight: bold;
}

/* Estilo para el checkbox de aceptación de términos y condiciones */
input[type="checkbox"] {
  margin-right: 5px;
}
