.fondo-pagina {
  /* background-image: url("../../assets/img/imgFondo.jpg"); */
  background-size: cover;
  background-position: center;
  height: 100vh;
  position: relative;
  top: 20px;

  font-family: "Roboto", Arial, sans-serif;
}
.informacionPersonal {
  position: relative;
  top: 100px;
  font-family: "Roboto", Arial, sans-serif;
}
/* .fondo-pagina::before {
  content: "";
  position: absolute;

  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  pointer-events: none;
} */
